<div class="modal" id="recoverPasswordModal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Restablecer contrase&ntilde;a</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Ingrese el correo electr&oacute;nico de su cuenta de usuario</p>
        <form id="frmForgotPwd" class="form-control-user" autocomplete="off">
          <div class="form-row">
            <div class="form-group col-xl-12 mb-6">
              <label id="lblEmailConfirm" for="txtEmailConfirm">Correo electr&oacute;nico</label>
              <input type="email" class="form-control" id="txtEmailConfirm" name="email">
              <div class="invalid-feedback"></div>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button id="btnRecoverPwd" class="btn btn-primary"> Verificar</button>
        <button class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
      </div>
    </div>
  </div>
</div>


<!-- Codigo de recuperacion -->
<div class="modal" id="sendCodeModal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">C&oacute;digo de recuperaci&oacute;n</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Ingresa el c&oacute;digo de recuperaci&oacute;n</p>
        <form id="frmSendCode" class="form-control-user" autocomplete="off" action="">
          <div class="form-row">
            <div class="form-group col-xl-12 mb-6">
              <label id="lblCodeConfirm" for="txtCodeConfirm">C&oacute;digo</label>
              <input type="text" class="form-control" id="txtCode" name="code">
              <div class="invalid-feedback"></div>
            </div>
            <div class="form-group col-xl-12 mb-6">
              <label for="txtCodeConfirm">Contrase&ntilde;a</label>
              <input type="password" class="form-control" id="txtNewPassword" name="NewPassword">
              <div class="invalid-feedback"></div>
            </div>
            <div class="form-group col-xl-12 mb-6">
              <label for="txtCodeConfirm">Confirmar contrase&ntilde;a</label>
              <input type="password" class="form-control" id="txtNewPasswordConfirmation" name="NewPasswordConfirmation">
              <div class="invalid-feedback"></div>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button id="btnSendCode" type="button" class="btn btn-primary">Actualizar Contraseña</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
      </div>
    </div>
  </div>
</div>