/****** Object:  Table [dbo].[ITC_REGION] ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ITC_REGION](
	[ITC_REGIONID] [uniqueidentifier] ROWGUIDCOL  NOT NULL,
	[CODDPTO] [varchar](3) NOT NULL,
	[NOMDPTO] [varchar](100) NOT NULL,
	[CODMUNICIPIO] [varchar](3) NOT NULL,
	[NOMMUNICIPIO] [varchar](100) NOT NULL,
 CONSTRAINT [PK_ITC_REGION] PRIMARY KEY CLUSTERED 
(
	[ITC_REGIONID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ITC_ROLE] ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ITC_ROLE](
	[ITC_ROLEID] [uniqueidentifier] NOT NULL,
	[DESC] [varchar](100) NOT NULL,
	[STATE] [varchar](1) NULL,
 CONSTRAINT [PK_ITC_ROLE] PRIMARY KEY CLUSTERED 
(
	[ITC_ROLEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ITC_USER] ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ITC_USER](
	[ITC_USERID] [uniqueidentifier] ROWGUIDCOL  NOT NULL,
	[BUSINESSNAME] [varchar](100) NULL,
	[DOC_NUMBER] [varchar](100) NULL,
	[CONTACTNAME] [varchar](100) NULL,
	[EMAIL] [varchar](100) NULL,
	[MOBILE] [varchar](100) NULL,
	[PHONE] [varchar](100) NULL,
	[ITC_REGIONID] [uniqueidentifier] NULL,
	[ADDRESS] [varchar](100) NULL,
	[RUT] [varchar](100) NULL,
	[EMAIL2] [varchar](100) NULL,
	[BILLINGTYPE] [varchar](100) NULL,
	[SAMACCOUNTNAME] [varchar](50) NOT NULL,
	[ITC_ROLEID] [uniqueidentifier] NOT NULL,
	[CODEVERIFICATION] [varchar](50) NULL,
	[DTDATECODE] [datetime] NULL,
	[STATE] [varchar](1) NULL,
	[PASSWORD] [varchar](150) NULL,
	[VERIFICATIONCODE] [varchar](10) NULL,
 CONSTRAINT [PK_ITC_USER] PRIMARY KEY CLUSTERED 
(
	[ITC_USERID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ITC_REGION] ADD  DEFAULT (newid()) FOR [ITC_REGIONID]
GO
ALTER TABLE [dbo].[ITC_ROLE] ADD  DEFAULT (newid()) FOR [ITC_ROLEID]
GO
ALTER TABLE [dbo].[ITC_USER] ADD  DEFAULT (newid()) FOR [ITC_USERID]
GO
ALTER TABLE [dbo].[ITC_USER]  WITH CHECK ADD FOREIGN KEY([ITC_REGIONID])
REFERENCES [dbo].[ITC_REGION] ([ITC_REGIONID])
GO
ALTER TABLE [dbo].[ITC_USER]  WITH CHECK ADD FOREIGN KEY([ITC_REGIONID])
REFERENCES [dbo].[ITC_REGION] ([ITC_REGIONID])
GO
ALTER TABLE [dbo].[ITC_USER]  WITH CHECK ADD FOREIGN KEY([ITC_REGIONID])
REFERENCES [dbo].[ITC_REGION] ([ITC_REGIONID])
GO
ALTER TABLE [dbo].[ITC_USER]  WITH CHECK ADD FOREIGN KEY([ITC_REGIONID])
REFERENCES [dbo].[ITC_REGION] ([ITC_REGIONID])
GO
ALTER TABLE [dbo].[ITC_USER]  WITH CHECK ADD FOREIGN KEY([ITC_REGIONID])
REFERENCES [dbo].[ITC_REGION] ([ITC_REGIONID])
GO
ALTER TABLE [dbo].[ITC_USER]  WITH CHECK ADD FOREIGN KEY([ITC_ROLEID])
REFERENCES [dbo].[ITC_ROLE] ([ITC_ROLEID])
GO

INSERT INTO [DBO].[ITC_REGION] ([CODDPTO] ,[NOMDPTO] ,[CODMUNICIPIO] ,[NOMMUNICIPIO]) VALUES ('05','ANTIOQUIA','001','MEDELLIN');
INSERT INTO [DBO].[ITC_REGION] ([CODDPTO] ,[NOMDPTO] ,[CODMUNICIPIO] ,[NOMMUNICIPIO]) VALUES ('05','ANTIOQUIA','002','ABEJORRAL');
INSERT INTO [DBO].[ITC_REGION] ([CODDPTO] ,[NOMDPTO] ,[CODMUNICIPIO] ,[NOMMUNICIPIO]) VALUES ('05','ANTIOQUIA','004','ABRIAQUI');

INSERT INTO [dbo].[ITC_ROLE] ([DESC] ,[STATE]) VALUES ('Cliente','A');
INSERT INTO [dbo].[ITC_ROLE] ([DESC] ,[STATE]) VALUES ('Administrador','A');